@import url('https://fonts.googleapis.com/css2?family=Antic+Slab&family=Arimo:wght@500&family=Baumans&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Antic Slab', serif;
}

:root {
  --header: #1e212d;
  --body: #6870e0;
  --primary-font: #acb4f4;
  --secondary-font: #faf3e0;
  --input-background: #acb4f4;
  --card-background: #1e212d;
}

/* Styling the Header */

.header-container {
  width: 100%;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  background-color: var(--header);
  padding: 0px 30px 0px 30px;
}

.header-title {
  display: flex;
  align-items: center;
  justify-content: center;
}

.weather-icon {
  width: 55px;
  height: 55px;
  filter: invert(100%) sepia(38%) saturate(1615%) hue-rotate(309deg)
    brightness(106%) contrast(97%);
}

.star-icon {
  width: 40px;
  height: 40px;
  filter: invert(100%) sepia(38%) saturate(1615%) hue-rotate(309deg)
    brightness(106%) contrast(97%);
  padding-right: 5px;
}

.header-text {
  font-size: 36px;
  text-decoration: none;
  color: var(--primary-font);
}

.header-text:hover {
  opacity: 80%;
}

/* Styling the main body */

main {
  min-height: calc(100vh - 120px);
  max-height: 100%;
  background-color: var(--body);
}

.input-container {
  padding-top: 3.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 10px;
}

.input-container > input {
  height: 2.5rem;
  font-size: 1.3rem;
  outline: none;
  border: none;
  padding: 10px;
  background-color: var(--input-background);
  border-radius: 10px;
}

.input-container > button {
  height: 2.5rem;
  width: 5rem;
  border-radius: 10px;
  background-color: var(--header);
  color: var(--secondary-font);
  border: none;
  outline: none;
  font-size: 1.3rem;
}

.input-container > button:hover {
  cursor: pointer;
  filter: brightness(85%);
}

/* Styling the weather card */

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
}

.card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
  background-color: var(--card-background);
  padding: 2.5rem 1.5rem 2.5rem 1.5rem;
  border-radius: 10px;
  width: 30ch;
  margin-top: 2rem;
  -webkit-box-shadow: 0px 0px 14px 4px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 14px 4px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 14px 4px rgba(0, 0, 0, 0.75);
  position: relative;
}

.card-header {
  color: var(--primary-font);
  font-size: 2.7rem;
}

.card-content {
  color: var(--secondary-font);
}

.favorite-button {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px;
  outline: none;
  border: none;
  background: none;
}

.favorite-button:hover {
  opacity: 85%;
  cursor: pointer;
}

.favorite-icon {
  width: 35px;
  height: 35px;
}

/* Styling the favorites page */

.card-grid {
  padding: 0px 30px 20px 30px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.favorites-header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 25px;
}

.favorites-header > h1 {
  font-size: 2.5rem;
  color: var(--header);
}

@media (max-width: 800px) {
  .card-grid {
    grid-template-columns: 1fr;
  }
  .header-text {
    font-size: 24px;
  }
}
